@{
    ViewBag.Title = "AccountLogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function formValidation() {
        //add more validation
        let validated = true;
        let userName = document.getElementById('<%= newUser.ClientID %>').value;
        let userPass = document.getElementById('<%= newPass.ClientID %>').value;

        if (userName != undefined) {
            if (userName.length < 8) {
                validated = false;
                return validated
            }
        }
    }
</script>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>
                Alarm Clock Login
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <br/>
        </div>
    </div>
</div>

<div class="form-container">
    <form name="registerForm">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <label for="userName">Enter Username</label>
                </div>

                <div class="col-sm-3">
                    <input type="text" id="ClientID" name="ClientID" placeholder="" required />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-3">
                    <label for="userPass">Password</label>
                </div>

                <div class="col-sm-3">
                    <input type="text" id="ClientID" placeholder="" required />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-lg-1">
                    <input class="button" type="submit" value="Submit" name="submit" onClick="formValidation()" />
                </div>
            </div>
        </div>
    </form>
</div>