
@{
    ViewBag.Title = "AccountSignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/Custom/user.js"></script>

<br />

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1 style="padding-top: 20px;">
                Sign up for our alarm clock application!
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <br />
        </div>
    </div>
</div>

<div class="form-container">
    <form name="registerForm">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <label for="firstName">First Name</label>
                </div>

                <div class="col-sm-3">
                    <input type="text" id="firstName" placeholder="John" required />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-3">
                    <label for="lastName">Last Name</label>
                </div>

                <div class="col-sm-3">
                    <input type="text" id="lastName" placeholder="Doe" required />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-3">
                    <label for="username">Enter Username</label>
                </div>

                <div class="col-sm-3">
                    <input type="text" id="username" placeholder="" required />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-3">
                    <label for="userPass1">Password</label>
                </div>

                <div class="col-sm-3">
                    <input type="password" id="userPass1" placeholder="" required />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-3">
                    <label for="userPass2">Retype Password</label>
                </div>

                <div class="col-sm-3">
                    <input type="password" id="userPass2" placeholder="" required />
                </div>
            </div>

            <br />

            <div class="row">
                <div class="col-sm-3">
                    <input class="button" type="button" value="Submit" name="submit" id="submitUser" />
                </div>
                <div class="col-sm-3">
                    All fields are required.
                </div>
            </div>
            <div class="row">
                <div>
                    <input class="btn btn-block hidden" id="signupResult" style="margin-top: 30px;" />
                </div>
            </div>
</form>
</div>


