@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>

<div class="user-information">
    <h1>        
        Populate me with User First Name
    </h1>

    <br />

    <h1>
        Populate me with User Last Name
    </h1>

    <br />

    <h1>
        Populate me with User ID
    </h1>

    <br />

</div>
