
@{
    ViewBag.Title = "Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="~/Scripts/Custom/user.js"></script>
<br />

<div class="user-information">
    <h1>
        Populate me with User First Name
    </h1>

    <br />

    <h1>
        Populate me with User Last Name
    </h1>

    <br />

    <h1>
        Populate me with User ID
    </h1>

    <br />
    <br />
    <label for="yellowAlarmTime">Yellow Alarm Time</label>
    Hours<input id="yellowAlarmTimeHours" type="text" />
    <br />
    Minutes<input id="yellowAlarmTimeMinutes" type="text" />
    <br />
    Seconds<input id="yellowAlarmTimeSeconds" type="text" />
    <br />
    <label for="redAlarmTime">Red Alarm Time</label>
    Hours<input id="redAlarmTimeHours" type="text" />
    <br />
    Minutes<input id="redAlarmTimeMinutes" type="text" />
    <br />
    Seconds<input id="redAlarmTimeSeconds" type="text" />
    <br />
    <button type="button" class="btn btn-primary" id="submitAlarmTimes">Submit Alarm Times</button>
    <br />
    <button type="button" class="btn btn-primary" id="goingToSleep">Going To Sleep</button>

</div>

