@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Paul Taylor</strong> <a href="mailto:ptaylor@carrollu.edu">ptaylor@carrollu.edu</a><br />
    <strong>Tyler Grady</strong> <a href="mailto:tgrady@carrollu.edu">tgrady@carrollu.edu</a><br />
    <strong>Tim Brinkmann</strong> <a href="mailto:tbrinkma@carrollu.edu">tbrinkma@carrollu.edu</a><br />
    <strong>Mitch Hewitt</strong> <a href="mailto:mhewitt@carrollu.edu">mhewitt@carrollu.edu</a>
</address>