@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="~/Scripts/Custom/alarmClock.js"></script>

<div class="jumbotron">
    <h1>Welcome To The Terradome</h1>
    <p class="lead">The BEST alarm clock</p>
</div>

<div>
    <div class="col-sm-12">
        <p id="time">Time</p>
    </div>
</div>
<div>
    <div class="col-sm-12">
        <p id="date">Date</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label for="alarmName">Alarm Name</label>
        <input id="alarmName" type="text" />

        <br />
        <br />
        <label for="time">Time</label>
        <input id="alarmTime" type="time" step="1"/>

        <br />
        <br />
        <label for="Date">Date</label>
        <input id="alarmDate" type="date" />

        <br />
        <br />
        <button type="button" class="btn btn-primary" id="createAlarm">Set Alarm</button>
    </div>
    <div class="col-sm-6">
        <table class="table" id="myTable">
            <thead>
                <tr>
                    <th>Alarm Name</th>
                    <th>Alarm Time</th>
                    <th>Update Alarm</th>
                    <th>Delete Alarm</th>
                </tr>
            </thead>
            <tbody id="alarms">
            </tbody>
        </table>
    </div>
    <button type="button" class="btn btn-primary" id="createAlarmTest">Set Alarm Test</button>
</div>
