@model IEnumerable<Student_Alarm_Clock.Model.alarm_list>
@{
    ViewBag.Title = "Home Page";
}
<script type="text/javascript" src="~/Scripts/Custom/alarmClock.js"></script>

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4 d-flex justify-content-center">
            <h1 class="time" id="time" style:"float:left">Time</h1>

        </div>

        <div class="col-sm-3 d-flex justify-content-center">
            <h3 id="alarmTimeAM">AM</h3>
            <br />
            <h3 id="alarmTimePM">PM</h3>
        </div>
        <h1 id="date">Date</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label for="alarmName">Alarm Name</label>
        <input id="alarmName" type="text" />

        <br />
        <br />
        <label for="alarmTime">Time</label>
        <input id="alarmTime" type="time" step="1" />

        <br />
        <br />
        <div>
            <h4> Select Days for Alarm</h4>
            <input type="checkbox" name="boxGroup1" value="1" checked> Monday <br />
            <input type="checkbox" name="boxGroup1" value="2"> Tuesday <br />
            <input type="checkbox" name="boxGroup1" value="3"> Wednesday <br />
            <input type="checkbox" name="boxGroup1" value="4"> Thursday <br />
            <input type="checkbox" name="boxGroup1" value="5"> Friday <br />
            <input type="checkbox" name="boxGroup1" value="6"> Saturday <br />
            <input type="checkbox" name="boxGroup1" value="7"> Sunday <br />
        </div>

        <br />
        <br />
        <button type="button" class="btn btn-primary" id="createAlarm">Set Alarm</button>
        <br />
        <br />
    </div>
    <div class="col-sm-6">
        <div style="height:500px;overflow-y:scroll">
            <table class="table" id="myTable">
                <thead>
                    <tr>
                        <th>Enabled</th>
                        <th>Alarm Name</th>
                        <th>Alarm Time</th>
                        <th>Update Alarm</th>
                        <th>Delete Alarm</th>
                    </tr>
                </thead>
                <tbody id="alarms">
                </tbody>
            </table>
        </div>
    </div>
</div>
